<h1>Members</h1>

<table border="1">
{% for x in mymembers %}
<tr>
<td> <a href="update/{{ x.id }}">Update</a></td>
<td> <li style='background-color:{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' %}'>{{ x.firstname }}</td>
<td> <li style='background-color:{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' %}'> {{ x.lastname }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}

</table>
<p>
<a href="add/">Add member</a>
</p>
<p>
    <a href="file/">Add file</a>
</p>






{#<td>{{ x.id }}</td>#}